doctype html
html
	head
		title= pageTitle
		link(href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css')
		link( rel='stylesheet' type='text/css' href='css/jquery-ui.min.css')
		link(rel='stylesheet'  href='css/bootstrap.css')
		link(rel='stylesheet'  href='css/style.css')
	body
		block content

		script(type='text/javascript' src='js/jquery-1.12.4.min.js')
		script(type='text/javascript' src='js/jquery-ui.min.js')
		script(type='text/javascript' src='js/bootstrap.js')
		script(type='text/javascript' src='js/main.js')