body {
  padding: 50px;
  /*font-family: 'Playball', cursive;*/
  font-family: 'Courgette', cursive;
  background-color: #000000;
  background-image: url('../images/bgWooden.jpg');
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;

}


#btnLogOut
{
	position: absolute;
    top: 2px;
    right: 0px;
    font-size: 0.9em;
}


.txtTask 
{
	border: none;
	font-size: 22px;
	margin: 0 auto;
	background: none;
	text-align: center;
	padding: 5%;
	color: #56638C;
	width: auto;
	height: auto;
}



.txtTask 
{
	border: none;
	outline: none;
}

.txtCompletedTask 
{
	border: none;
	font-size: 22px;
	margin: 0 auto;
	color: #8B0907;
	background: none;
	text-align: center;
	padding: 5%;
text-decoration: line-through;
	width: auto;
	height: auto;
}



.divForAddition
{
	max-width: 400px;
	max-height: 400px;
	position: absolute;
	z-index: 10;
	top: 5%;
	right: 1%;
	text-align: center;

}



.divAddTask
{
	background-color: #8C2218;
	width: auto;
	height: auto;


	box-shadow: -3px 5px 5px 5px #000000;
}


.divAddTask .txtTask
{
	color: #F2DF80;
}


.divTask
{
	background-color: #f2df80;
	max-width: 400px;
	max-height: 400px;
	width: auto;
	height: auto;
	margin: 20px 20px;


	background-image: url('../images/bgPaper.jpg');
	background-repeat: repeat;
	background-position: top left;

	box-shadow: 3px 5px 2px 2px #221E2A;

}

.divActionIcon .glyphicon
{
	font-size: 15px;
	cursor: pointer;
}

.divActionArea
{
	display: inline-block;
	width: 60px;

}


.btnAddTask {
  background-color: #d94e41;
  border-radius: 25px;
  color: #f2df80;
  cursor: pointer;
  font-size: 36px;
  margin-bottom: 20px;
  padding: 10px;
}


.glyphicon-ok{
	color: #56638C;
}



.glyphicon-remove{
	color: #D94E41;
}


.hidden
{
	display: none;
}

#divLogin a
{
	display: block;
	margin: 5px;
}



#divLogin
{
	text-align: center;
	color: #d94e41;
}


#divLogin a img.img-thumbnail
{
	border: none;
	background: none;
}